<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
      <urlMappings enabled="true">
      <add url="~/AddComplain"  mappedUrl="~/AddComplain.aspx"/>
      <add url="~/AddNotice"  mappedUrl="~/AddNotice.aspx"/>
      <add url="~/ComplainBox"  mappedUrl="~/ComplainBox.aspx"/>
      <add url="~/Inbox"  mappedUrl="~/Inbox.aspx"/>
      <add url="~/NoticeBox"  mappedUrl="~/NoticeBox.aspx"/>
      <add url="~/RequestBox"  mappedUrl="~/RequestBox.aspx"/>
      <add url="~/StudentProfile"  mappedUrl="~/StudentProfile.aspx"/>
      <add url="~/StudentProfile"  mappedUrl="~/StudentProfile.aspx"/>
      <add url="~/HStudentProfile"  mappedUrl="~/HStudentProfile.aspx"/>
      <add url="~/HComplainBox"  mappedUrl="~/HComplainBox.aspx"/>
      <add url="~/HNoticeBox"  mappedUrl="~/HNoticeBox.aspx"/>
      <add url="~/HRequestBox"  mappedUrl="~/HRequestBox.aspx"/>
      <add url="~/Merit"  mappedUrl="~/Merit.aspx"/>
      <add url="~/MeritPrototype"  mappedUrl="~/MeritPrototype.aspx"/>
      <add url="~/StudentsList"  mappedUrl="~/StudentsList.aspx"/>
      <add url="~/UStudentsList"  mappedUrl="~/UStudentsList.aspx"/>
      <add url="~/SearchStudent"  mappedUrl="~/SearchStudent.aspx"/>
      <add url="~/HNoticeDesc"  mappedUrl="~/HNoticeDesc.aspx"/>
      <add url="~/NoticeDesc"  mappedUrl="~/NoticeDesc.aspx"/>
      <add url="~/HComplainDesc"  mappedUrl="~/HComplainDesc.aspx"/>
      <add url="~/ComplainDesc"  mappedUrl="~/ComplainDesc.aspx"/>
      <add url="~/RequestDesc"  mappedUrl="~/RequestDesc.aspx"/>
      <add url="~/HRequestDesc"  mappedUrl="~/HRequestDesc.aspx"/>
      <add url="~/InboxDesc"  mappedUrl="~/InboxDesc.aspx"/>
      <add url="~/Login"  mappedUrl="~/Login.aspx"/>
      <add url="~/ForgotPassword"  mappedUrl="~/ForgotPassword.aspx"/>
      <add url="~/Registration1"  mappedUrl="~/Registration1.aspx"/>
      <add url="~/Registration2" mappedUrl="~/Registration2.aspx"/>
      <add url="~/Registration3" mappedUrl="~/Registration3.aspx"/>
      <add url="~/MessageBox" mappedUrl="~/MessageBox.aspx"/>
      <add url="~/MessageBoxDesc" mappedUrl="~/MessageBoxDesc.aspx"/>

      </urlMappings>  
  </system.web>
</configuration>
