        @media (max-width: 767px) {    #hiddenslider{
            font-size:20px;
        }
        }

        .bg-gradient-ljcca {
          background-color: #4e73df;
          background-image: linear-gradient(180deg, #36227a 0%, #20249a 100%);
          background-size: cover;
        }


.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
    	#20249a 10.666%,
        #36227a 10.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
    	#20249a 10.666%,
        #36227a 30%, 
        #224abe 50%, 
        #476098 58%, 
        #6897bb 33.333%,
        #a4cafd 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  

h1 {
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  display: block;
  cursor: pointer;
}

.btn-ljcca {
  color: #fff;
  background-color: #20249a;
  border-color: #20249a;
}

.btn-ljcca:hover {
  color: #fff;
  background-color: #2e59d9;
  border-color: #36227a;
}

.btn-ljcca:focus, .btn-ljcca.focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-ljcca.disabled, .btn-ljcca:disabled {
  color: #fff;
  background-color: #20249a;
  border-color: #20249a;
}

.btn-ljcca:not(:disabled):not(.disabled):active, .btn-ljcca:not(:disabled):not(.disabled).active,
.show > .btn-ljcca.dropdown-toggle {
  color: #fff;
  background-color: #36227a;
  border-color: #36227a;
}

.btn-ljcca:not(:disabled):not(.disabled):active:focus, .btn-ljcca:not(:disabled):not(.disabled).active:focus,
.show > .btn-ljcca.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.text-ljcca {
  color: #20249a !important;
}

a.text-ljcca:hover, a.text-ljcca:focus {
  color: #36227a !important;
}

.custom-alert{
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  border-radius:0.35rem;
  border:0;
  margin-bottom:5px;
}



